@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

#home_ul {
  display: flex;
  gap: 30px;
}

#logo {
  text-decoration: none;
  color: #fff;
  line-height: 10vh;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 5vw;
  transition: all 0.5s ease;
}

#logo:hover {
  transform: scaleX(1.2);
  transform-origin: left center;
}

.topSection {
  width: 100vw;
  height: 50vh;
  position: relative;
}

#topBack {
  width: 100%;
  height: 50vh;
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
}

.titleZip {
  position: absolute;
  top: 75px;
  left: 800px;
  width: 40vw;
  height: 38vh;
}

#topImg {
  position: absolute;
  width: 300px;
  top: 150px;
  left: 22.5vw;
  border-radius: 12px;
}

#movieTitle {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  top: 0px;
  left: 0px;
  text-align: left;
}

#movieYear {
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 60px;
  left: 0px;
  text-align: left;
}

#movieRating {
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 95px;
  left: 0px;
  text-align: left;
}

#movieRuntime {
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 130px;
  left: 0px;
  text-align: left;
}

#movieDescription {
  height: 130px;
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 165px;
  left: 0px;
  text-align: left;
}

#movieGen {
  position: absolute;
  font-size: 20px;
  color: #fff;
  left: 0px;
  bottom: 0;
  text-align: left;
}

.titleZip ul {
  display: flex;
  gap: 30px;
}

.titleZip li{
  border-radius: 20px;
  padding: 4px 16px;
  background-color: rgb(233, 79, 79);
  cursor: pointer;
}

#moreBtn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 20px;
}

.loading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  width: 5%;
  height: 100vh;
  margin: auto;
  align-items: center;
}

.loading div {
  background-color: #333;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.loading div:nth-child(1) {
  background-color: rgb(190, 60, 60);
  animation: load 1s 0s ease-in-out infinite;
}

.loading div:nth-child(2) {
  background-color: rgb(200, 202, 75);
  animation: load 1s 0.2s ease-in-out infinite;
}

.loading div:nth-child(3) {
  background-color: rgb(79, 109, 192);
  animation: load 1s 0.4s ease-in-out infinite;
}

.loading div:nth-child(4) {
  background-color: rgb(184, 73, 178);
  animation: load 1s 0.6s ease-in-out infinite;
}

@keyframes load {
  0% {
    margin-bottom: 0px;
  }

  50% {
    margin-bottom: 100px;
  }

  100% {
    margin-bottom: 0px;
  }
}
