@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 55vw;
  margin: auto;
  height: 10vh;
  display: flex;
}

#home_ul {
  display: flex;
  gap: 30px;
}

li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  line-height: 10vh;
  padding: 1vh;
  border-bottom: 2px solid #fff;
}

#logo {
  text-decoration: none;
  color: #333;
  line-height: 10vh;
  font-size: 30px;
  padding-right: 5vw;
  transition: all 0.5s ease;
}

#logo:hover {
  font-size: 40px;
}

li a:hover {
  border-bottom: 2px solid red;
  transition: all 0.3s ease-in-out;
}

.movies {
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px auto;
}

.slide {
  height: 50vh;
  margin: auto;
}

.slide img {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 15%;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 6px 6px 20px rgb(177, 177, 177);
}

.slideTitle {
  position: absolute;
  right: 10px;
  top: 20%;
}

.slideTitle p {
  width: 20vw;
  font-size: 1rem;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

#zemok {
  font-size: 2rem;
  margin-bottom: 100px;
  font-weight: bold;
}

.slideZip {
  position: relative;
  width: 50%;
  margin: auto;
  display: flex;
}

.btnP {
  left: 5%;
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  color: #fff;
  cursor: "pointer";
  padding: 100px 100px;
}

.btnN {
  right: 5%;
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  color: #fff;
  cursor: "pointer";
  padding: 100px 100px;
}

#slideNum {
  position: absolute;
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.7;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}
