@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(32, 32, 32);
}

header {
  width: 1050px;
  margin: auto;
  height: 100%;
  display: flex;
  color: #fff;
}

#home_ul {
  display: flex;
  gap: 30px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
  line-height: 10vh;
  padding: 1vh;
  opacity: 0.2;
}

#logo {
  text-decoration: none;
  color: #fff;
  line-height: 10vh;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 5vw;
  transition: all 0.5s ease;
}

#logo:hover {
  transform: scaleX(1.2);
  transform-origin: left center;
}

li a:hover {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

#ham {
  display: none;
  font-size: 20px;
  line-height: 60px;
  cursor: pointer;
}

.slideBack {
  background-size: cover;
  height: 520px;
  background-position: center center;
  transition: all 1s ease-in-out;
}

.movies {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
}

.slide {
  height: 550px;
  margin: auto;
}

.slide img {
  position: absolute;
  cursor: pointer;
  right: 1050px;
  top: 170px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 250px;
  box-shadow: 6px 6px 20px rgb(138, 138, 138);
}

.slideTitle {
  position: absolute;
  top: 220px;
  right: 500px;
}

.slideTitle p {
  width: 400px;
  font-size: 1rem;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

#zemok {
  font-size: 2rem;
  margin-bottom: 100px;
  font-weight: bold;
}

.btnP {
  left: 5%;
  position: absolute;
  top: 240px;
  font-size: 1.5rem;
  color: #fff;
  cursor: "pointer";
  padding: 100px 100px;
}

.btnN {
  left: 85%;
  position: absolute;
  top: 240px;
  font-size: 1.5rem;
  color: #fff;
  cursor: "pointer";
  padding: 100px 100px;
}

#slideNum {
  position: absolute;
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.7;
  top: 580px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  width: 5%;
  height: 100vh;
  margin: auto;
  align-items: center;
}

.loading div {
  background-color: #333;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.loading div:nth-child(1) {
  background-color: rgb(190, 60, 60);
  animation: load 1s 0s ease-in-out infinite;
}

.loading div:nth-child(2) {
  background-color: rgb(200, 202, 75);
  animation: load 1s 0.2s ease-in-out infinite;
}

.loading div:nth-child(3) {
  background-color: rgb(79, 109, 192);
  animation: load 1s 0.4s ease-in-out infinite;
}

.loading div:nth-child(4) {
  background-color: rgb(184, 73, 178);
  animation: load 1s 0.6s ease-in-out infinite;
}

@keyframes load {
  0% {
    margin-bottom: 0px;
  }

  50% {
    margin-bottom: 100px;
  }

  100% {
    margin-bottom: 0px;
  }
}

#moviesTitle {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 1440px) {
  header {
    width: 550px;
  }

  .slideBack {
    height: 400px;
  }

  .slide {
    height: 400px;
  }

  .slide img {
    top: 140px;
    right: 770px;
    width: 200px;
  }

  .slideTitle {
    right: 400px;
    top: 190px;
  }

  .slideTitle p {
    width: 250px;
    font-size: 0.8rem;
  }

  #zemok {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  
  .btnP {
    top: 180px;
  }
  
  .btnN {
    top: 180px;
  }
  
  #slideNum {
    font-size: 1rem;
    top: 460px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    width: 550px;
  }

  .slideBack {
    height: 400px;
  }

  .slide {
    height: 400px;
  }

  .slide img {
    width: 200px;
    right: 700px;
  }

  .slideTitle {
    right: 320px;
    top: 180px;
  }

  .slideTitle p {
    width: 200px;
    font-size: 0.8rem;
  }

  #zemok {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  
  .btnP {
    top: 180px;
  }
  
  .btnN {
    top: 180px;
  }
  
  #slideNum {
    font-size: 1rem;
    top: 460px;
  }
}

@media screen and (max-width: 992px) {
  .slideBack {
    height: 300px;
  }

  .slide {
    height: 300px;
  }

  .slide img {
    right: 550px;
    width: 150px;
  }

  .slideTitle {
    right: 250px;
    top: 160px;
  }

  .slideTitle p {
    width: 200px;
    font-size: 0.5rem;
  }

  #zemok {
    font-size: 1rem;
    margin-bottom: 50px;
  }
  
  .btnP {
    top: 130px;
  }
  
  .btnN {
    top: 130px;
  }
  
  #slideNum {
    font-size: 0.7rem;
    top: 370px;
  }
}

@media screen and (max-width: 768px) {
  .slideBack {
    height: 300px;
  }

  .slide {
    height: 300px;
  }

  .slide img {
    right: 420px;
    width: 150px;
  }

  .slideTitle {
    right: 150px;
    top: 160px;
  }

  .slideTitle p {
    width: 200px;
    font-size: 0.5rem;
  }

  #zemok {
    font-size: 1rem;
    margin-bottom: 50px;
  }
  
  .btnP {
    top: 130px;
  }
  
  .btnN {
    top: 130px;
  }
  
  #slideNum {
    font-size: 0.7rem;
    top: 370px;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    position:static;
  }

  .slideBack {
    height: 400px;
  }

  .slide {
    margin: auto;
  }

  .slide img {
    margin: auto;
    right: 35%;
    top: 170px;
  }

  .slideTitle {
    right: 22%;
    top: 415px;
  }

  .slideTitle p {
    display: none;
    width: 300px;
    font-size: 0.5rem;
  }

  #zemok {
    display: block;
    font-size: 1.2rem;
  }
  
  .btnP {
    left:5%;
    top: 260px;
    padding: 10px;
  }
  
  .btnN {
    left: 90%;
    top: 260px;
    padding: 10px;
  }
  
  #slideNum {
    display: none;
  }

  #home_ul a{
    line-height: 60px;
  }

  #ham {
    display: block;
    position: absolute;
    line-height:10vh;
    right: 10px;
  }
}
