* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  overflow-x: hidden;
}

*::-webkit-scrollbar{ display:none;}

 

ul {
  list-style: none;
}

.movie {
  height: 100%;
  background-color: #333;
  margin-bottom: 100px;
  text-align: center;
}

.title {
  text-align: center;
  width: 230px;
}

.title a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

img {
  right: 0;
}
