* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

.movie {
  width: 230px;
  height: 100%;
  margin-bottom: 100px;
  text-align: center;
  border-radius: 5px;
}

.movieImg {
  width: 230px;
  height: 345px;

}

#coverImg {

  cursor: pointer;
  transition: all 0.5s ease;
}

#coverImg:hover {
  transform: scale(1.1);
}

.title {
  text-align: left;
  width: 230px;
}

.title a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

img {
  right: 0;
}
